# المكتبة الأساسية اللي بنبني بيها السيرفر والواجهة بتاعت المشروع 
Flask
# المكتبة اللي بنستخدمها عشان نبعت الداتا بين السنسورات والسيرفر 
requests
Flask==3.0.0
Flask-SocketIO==5.3.6
eventlet==0.33.3
greenlet==3.0.1